openapi: '3.0.1'
info: 
  version: 25.02.06
  title: Mywebsite API
  description: | 
    As a REST API, Mywebsite accepts and returns JSON payloads, along with the associated `application/json` content type.

    You can learn everything you need to know about authentication, credentials, data formats, and more in the [API Basics](/guide/api-basics/environments.html) section.
    
    Like the rest of the documentation, this reference focuses on the latest version of the Mywebsite API (Connect).
  contact: 
    name: Mywebsite
    url: https://mywebsite.com
servers:
  - url: https://baseURL.co     
    #description: Dummy URL for content optimization in API Reference
  - url: https://your-company-name.sandbox.mywebsite.co
    description: Sandbox environment
  - url: https://your-company-name.api.mywebsite.com
    description: Production environment
paths:
  /core-connect/account-details/{walletId}/raw:
    get:
      tags:
        - Account Details
      summary: Get JSON Account Details
      description: | 
        Retrieve the necessary data (JSON) to generate the Account Details of a given Wallet.

        This endpoint requires per-session [SCA](/guide/strong-customer-authentication/introduction.html).
      operationId: getRawWalletAccountDetail
      parameters:
        - name: walletId
          in: path
          description: The unique identifier of the Wallet.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  bic:
                    type: string
                    description: |
                      The [BIC](/guide/overview/glossary.html#bank-identifier-code-bic) of the account.
                    example: "TRZOFR21XXX"
                  iban:
                    type: string
                    description: |
                      The [IBAN](/guide/wallets/iban.html#virtual-iban) of the account.
                    example: "FR7630006000011234567890189"
                  title:
                    type: string
                    description: |
                      The title of the user who owns the account.
                    example: "M"
                  firstname:
                    type: string
                    description: |
                      The first name of the user who owns the account.
                    example: "Alex"
                  lastname:
                    type: string
                    description: |
                      The last name of the user who owns the account.
                    example: "Oak"
                  postcode:
                    type: string
                    description: |
                      The postal code of the address of the user who owns the account.
                    example: "75000"
                  city:
                    type: string
                    description: |
                      The city of the address of the user who owns the account.
                    example: "Paris"
                  address1:
                    type: string
                    description: |
                      The address of the user who owns the account.
                    example: "15 Treewoods lane"
                  address2:
                    type: string
                    description: |
                      The second line of the address of the user who owns the account.
                  countryName:
                    type: string
                    description: |
                      The country of the address of the user who owns the account.
                    example: "France"
                  treezorAddress:
                    type: object
                    properties:
                      name:
                        type: string
                        example: "Mywebsite SAS"
                      addess1: 
                        type: string
                        example: "33, av de Wagram"
                      address2:
                        type: string
                        nullable: true
                      postcode:
                        type: string
                        example: "75017"
                      city:
                        type: string
                        example: Paris
        '400':
          $ref: '#/components/responses/BadRequestError'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - jwt:
            - read_only
            - read_write
  /core-connect/account-details/{walletId}/computed:
    get:
      tags:
        - Account Details
      summary: Get PDF Account Details
      description: | 
        Retrieve a Wallet RIB and IBAN in PDF format.

        This endpoint requires per-session [SCA](/guide/strong-customer-authentication/introduction.html).
      operationId: getComputedWalletAccountDetail
      parameters:
        - name: walletId
          in: path
          description: The unique identifier of the Wallet.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  link:
                    type: string
                    description: The URL to download the PDF file.
                    example: https://xxx.s3.eu-west-3.amazonaws.com/tmp/xxx.pdf
                  expireIn:
                    type: integer
                    description: The time after which the download link expires (in seconds).
                    example: 300
        '400':
          $ref: '#/components/responses/BadRequestError'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - jwt:
          - read_only
          - read_write
  /oauth/token:
    post:
      tags:
        - Authentication
      summary: Obtain Access Token
      operationId: postAuth
      description: |
        Exchange authorization codes or refresh tokens for access tokens.
        The response will include the access token and optionally a refresh token, along with their expiration details.
      security: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              oneOf:
                - type: object
                  properties:
                    grant_type:
                      type: string
                      default: client_credentials
                      description: |
                        MUST BE "client_credentials" value for client credential flow.
                    client_id:
                      type: string
                    client_secret:
                      type: string
                    scope:
                      type: string
                      description: space separated
                - type: object
                  properties:
                    grant_type:
                      type: string
                      default: password
                      description: MUST BE "password" value for password credential flow
                    client_id:
                      type: string
                    client_secret:
                      type: string
                    scope:
                      type: string
                      description: space separated
                    username:
                      type: string
                    password:
                      type: string
                      description: User password
                - type: object
                  properties:
                    grant_type:
                      type: string
                      default: refresh_token
                      description: MUST BE "refresh_token" value for refresh token flow
                    client_id:
                      type: string
                    client_secret:
                      type: string
                    scope:
                      type: string
                      description: space separated
                    refresh_token:
                      type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                oneOf:
                  - type: object
                    properties:
                      token_type:
                        type: string
                        default: Bearer
                        description: |
                          This value must be passed in the "Authorization" header of your API requests as follows: "Authorization: Bearer <token>" (with a space between "Bearer" and the token value).
                      expires_in:
                        type: integer
                        default: 3600
                      access_token:
                        type: string
                        description: JWT token
                  - type: object
                    properties:
                      token_type:
                        type: string
                        default: Bearer
                        description: |
                          This value must be passed in the "Authorization" header of your API requests as follows: "Authorization: Bearer <token>" (with a space between "Bearer" and the token value).
                      expires_in:
                        type: integer
                        default: 3600
                      access_token:
                        type: string
                        description: JWT token
                      refresh_token:
                        type: string
                        description: |
                          A refresh token to regenerate a JWT token without sending all of information request at the first request on password grant.
                  - type: object
                    properties:
                      token_type:
                        type: string
                        default: Bearer
                        description: |
                          This value must be passed in the "Authorization" header of your API requests as follows: "Authorization: Bearer <token>" (with a space between "Bearer" and the token value).
                      expires_in:
                        type: integer
                        default: 3600
                      access_token:
                        type: string
                        description: JWT token
                      refresh_token:
                        type: string
                        description: |
                          A refresh token to regenerate a JWT token without sending all of information request at the first request on password grant.
        '400':
          $ref: '#/components/responses/BadRequestError'
        default:
          $ref: '#/components/responses/DefaultError'
  /core-connect/balances/{walletId}:
    get:
      tags:
          - Balances
      summary: Get Wallet Balance history
      description: Retrieve the Balance History of a Wallet.
      operationId: getWalletBalanceHistory
      parameters:
        - name: walletId
          in: path
          description: The unique identifier of the Wallet.
          required: true
          schema:
            type: integer
        - name: dateFrom
          in: query
          description: Start date in RFC 3339 format
          required: false
          schema:
            type: string
        - name: dateTo
          in: query
          description: End date in RFC-3339 format
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  description: | 
                    Balance entries, identified by dates (format: YYYY-MM-DD HH:MM:SS).
                  properties:
                    solde:
                      type: number
                      format: float
                      example: 101.25
                    authorizedBalance:
                      type: number
                      format: float
                      example: 80
                    currency:
                      type: string
                      example: "EUR"
                example:
                  "2025-01-09 11:46:44":
                    solde: 101.25
                    authorizedBalance: 80
                    currency: "EUR"
        '400':
          $ref: '#/components/responses/BadRequestError'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - jwt:
            - read_only
  /core-connect/cardtransactions:
    get:
      tags:
        - Card Transactions
      summary: Get all Card Transactions
      operationId: getCoCardTransactions
      description: Retrieve all the Card Transactions. This is the preferred request for a dashboard-oriented approach. You shouldn't expose this endpoint to your end users.
      parameters:
        - name: cursor
          in: query
          description: Pagination cursor, if you don't pass a cursor, result will start at the first page.
          required: false
          schema:
            type: string
        - name: createdDateFrom
          in: query
          required: false
          description: The date and time from which the transactions are taken into account.
          schema:
            type: string
            format: date-time
            example: "2020-09-22T10:00:00-05:00+01:00"
        - name: createdDateTo
          in: query
          required: false
          description: The date and time up to which the transactions are taken into account.
          schema:
            type: string
            format: date-time
            example: "2020-09-22T10:00:00-05:00+01:00"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cardTransactions:
                    type: array
                    items:
                      type: object
                      properties:
                        cardtransactionId:
                          type: string
                        cardId:
                          type: string
                        walletId:
                          type: string
                        acquirerId:
                          type: string
                        walletCurrency:
                          type: string
                        merchantId:
                          type: string
                        merchantName:
                          type: string
                        merchantCity:
                          type: string
                        merchantCountry:
                          type: string
                        mccCode:
                          type: string
                        paymentLocalTime:
                          type: string
                        publicToken:
                          type: string
                        paymentAmount:
                          type: string
                        paymentCurrency:
                          type: string
                        fees:
                          type: string
                        paymentCountry:
                          type: string
                        paymentId:
                          type: string
                          description: | 
                            The unique identifier of the card payment (or attempted payment), allowing you to follow the card transaction life cycle.
                        paymentStatus:
                          type: string
                        paymentLocalAmount:
                          type: string
                        posCardholderPresence:
                          type: string
                        posPostcode:
                          type: string
                        posCountry:
                          type: string
                        posTerminalId:
                          type: string
                        posCardPresence:
                          type: string
                        panEntryMethod:
                          type: string
                        authorizationNote:
                          type: string
                        authorizationResponseCode:
                          type: string
                        authorizationIssuerId:
                          type: string
                        authorizationIssuerTime:
                          type: string
                        authorizationMti:
                          type: string
                        authorizedBalance:
                          type: string
                        limitAtmYear:
                          type: string
                        limitAtmMonth:
                          type: string
                        limitAtmWeek:
                          type: string
                        limitAtmDay:
                          type: string
                        limitAtmAll:
                          type: string
                        limitPaymentYear:
                          type: string
                        limitPaymentMonth:
                          type: string
                        limitPaymentWeek:
                          type: string
                        limitPaymentDay:
                          type: string
                        limitPaymentAll:
                          type: string
                        totalLimitAtmYear:
                          type: string
                        totalLimitAtmMonth:
                          type: string
                        totalLimitAtmWeek:
                          type: string
                        totalLimitAtmDay:
                          type: string
                        totalLimitAtmAll:
                          type: string
                        totalLimitPaymentYear:
                          type: string
                        totalLimitPaymentMonth:
                          type: string
                        totalLimitPaymentWeek:
                          type: string
                        totalLimitPaymentDay:
                          type: string
                        totalLimitPaymentAll:
                          type: string
                        cardDigitalizationExternalId:
                          type: string
                        is3DS:
                          type: boolean
                        merchantAddress:
                          type: string
                        paymentLocalDate:
                          type: string
                        optimizedMerchantName:
                          type: string
                        merchantLogo:
                          type: string
                        merchantCategory:
                          type: string
                        transactionSubtype:
                          type: string
                          description: |
                            Additional information regarding the type of card transaction. Values can be:
                              * `OFT` – Offline transaction
                              * `PRE` – Preauthorization
                              * `SEP` – Second presentment
                          enum:
                            - OFT
                            - PRE
                            - SEP
                        3dsExemptionType:
                          type: string
                          description: | 
                            Indicates why the transaction was exempted for 3DS authentication. See [3DS Exemption Type](/guide/cards/transactions.html#_3ds-exemption-type-3dsexemptiontype) for the value list.
                        receiverData:
                          type: string
                          description: For MoneySend transactions, information regarding the receiver.
                        senderData:
                          type: string
                          description: For MoneySend transactions, information regarding the sender.
                        transactionTypeIdentifier:
                          type: string
                          description: | 
                            For MoneySend transactions, code indicating the type of transaction and the source of funds. Can be:
                              * `C07` – Person-to-Person Transfer
                              * `C52` – General Transfer to Own Account
                              * `C53` – Agent Cash Out
                              * `C54` – Payment of Own Credit Card Bill
                              * `C55` – Business Disbursement
                              * `C56` – Government/Non-profit Disbursement
                              * `C57` – Rapid Merchant Settlement
                              * `C59` – Cash-in at Point of Sale
                              * `C65` – General Business-to-Business Transfer
                        localMerchantId:
                          type: string
                          description: Indicates the merchant's SIREN or SIRET if available.
                  cursor:
                    type: object
                    properties:
                      current:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
        '400':
          $ref: '#/components/responses/BadRequestError'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - jwt: []
  /core-connect/cardtransactions/{cardId}:
    get:
      tags:
        - Card Transactions
      summary: Get Card Transactions
      operationId: getCoCardTransaction
      description: Retrieve the Card Transactions for a specific card. This request is preferred for a dashboard-oriented usage. You shouldn't expose this endpoint to your end users.
      parameters:
        - name: cardId
          in: path
          required: true
          description: The unique identifier of the card.
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          description: Pagination cursor, if you don't pass a cursor, result will start at the first page.
          schema:
            type: string
        - name: createdDateFrom
          in: query
          required: false
          description: The date and time from which the transactions are taken into account.
          schema:
            type: string
            format: date-time
            example: "2020-09-22T10:00:00-05:00+01:00"
        - name: createdDateTo
          in: query
          required: false
          description: The date and time up to which the transactions are taken into account.
          schema:
            type: string
            format: date-time
            example: "2020-09-22T10:00:00-05:00+01:00"
        - name: amountFrom
          in: query
          description: The minimum amount of the transactions to be taken into account.
          schema:
            type: number
            format: float
            example: 10.25
        - name: amountTo
          in: query
          description: The maximum amount of the transactions to be taken into account.
          schema:
            type: number
            format: float
            example: 100.25
        - name: paymentStatus
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - A
                - C
                - I
                - M
                - R
                - S
                - V
        - name: paymentType
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - Payment
                - Withdrawal
        - name: merchantId
          in: query
          description: | 
            The unique identifier of the merchant. See [Merchant Identification Number (MID)](/guide/overview/glossary.html#merchant-identification-number-mid).
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cardTransactions:
                    type: array
                    items:
                      type: object
                      properties:
                        cardtransactionId:
                          type: string
                        cardId:
                          type: string
                        walletId:
                          type: string
                        acquirerId:
                          type: string
                        walletCurrency:
                          type: string
                        merchantId:
                          type: string
                        merchantName:
                          type: string
                        merchantCity:
                          type: string
                        merchantCountry:
                          type: string
                        mccCode:
                          type: string
                        paymentLocalTime:
                          type: string
                        publicToken:
                          type: string
                        paymentAmount:
                          type: string
                        paymentCurrency:
                          type: string
                        fees:
                          type: string
                        paymentCountry:
                          type: string
                        paymentId:
                          type: string
                          description: |
                            The unique identifier of the card payment (or attempted payment), allowing you to follow the card transaction life cycle.
                        paymentStatus:
                          type: string
                        paymentLocalAmount:
                          type: string
                        posCardholderPresence:
                          type: string
                        posPostcode:
                          type: string
                        posCountry:
                          type: string
                        posTerminalId:
                          type: string
                        posCardPresence:
                          type: string
                        panEntryMethod:
                          type: string
                        authorizationNote:
                          type: string
                        authorizationResponseCode:
                          type: string
                        authorizationIssuerId:
                          type: string
                        authorizationIssuerTime:
                          type: string
                        authorizationMti:
                          type: string
                        authorizedBalance:
                          type: string
                        limitAtmYear:
                          type: string
                        limitAtmMonth:
                          type: string
                        limitAtmWeek:
                          type: string
                        limitAtmDay:
                          type: string
                        limitAtmAll:
                          type: string
                        limitPaymentYear:
                          type: string
                        limitPaymentMonth:
                          type: string
                        limitPaymentWeek:
                          type: string
                        limitPaymentDay:
                          type: string
                        limitPaymentAll:
                          type: string
                        totalLimitAtmYear:
                          type: string
                        totalLimitAtmMonth:
                          type: string
                        totalLimitAtmWeek:
                          type: string
                        totalLimitAtmDay:
                          type: string
                        totalLimitAtmAll:
                          type: string
                        totalLimitPaymentYear:
                          type: string
                        totalLimitPaymentMonth:
                          type: string
                        totalLimitPaymentWeek:
                          type: string
                        totalLimitPaymentDay:
                          type: string
                        totalLimitPaymentAll:
                          type: string
                        cardDigitalizationExternalId:
                          type: string
                        is3DS:
                          type: boolean
                        merchantAddress:
                          type: string
                        paymentLocalDate:
                          type: string
                        optimizedMerchantName:
                          type: string
                        merchantLogo:
                          type: string
                        merchantCategory:
                          type: string
                        transactionSubtype:
                          type: string
                          description: |
                            Additional information regarding the type of card transaction. Values can be:
                              * `OFT` – Offline transaction
                              * `PRE` – Preauthorization
                              * `SEP` – Second presentment
                          enum:
                            - OFT
                            - PRE
                            - SEP
                        3dsExemptionType:
                          type: string
                          description: | 
                            Indicates why the transaction was exempted for 3DS authentication. See [3DS Exemption Type](/guide/cards/transactions.html#_3ds-exemption-type-3dsexemptiontype) for the value list.
                        receiverData:
                          type: string
                          description: For MoneySend transactions, information regarding the receiver.
                        senderData:
                          type: string
                          description: For MoneySend transactions, information regarding the sender.
                        transactionTypeIdentifier:
                          type: string
                          description: | 
                            For MoneySend transactions, code indicating the type of transaction and the source of funds. Can be:
                              * `C07` – Person-to-Person Transfer
                              * `C52` – General Transfer to Own Account
                              * `C53` – Agent Cash Out
                              * `C54` – Payment of Own Credit Card Bill
                              * `C55` – Business Disbursement
                              * `C56` – Government/Non-profit Disbursement
                              * `C57` – Rapid Merchant Settlement
                              * `C59` – Cash-in at Point of Sale
                              * `C65` – General Business-to-Business Transfer
                        localMerchantId:
                          type: string
                          description: Indicates the merchant's SIREN or SIRET if available.
                  cursor:
                    type: object
                    properties:
                      current:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
        '400':
          $ref: '#/components/responses/BadRequestError'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - jwt: []
  /core-connect/support-user:
    get:
      tags:
        - Support Users
      summary: Get all Support Users
      description: Retrieve all the Support Users.
      operationId: getAllSupportUser
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupportUserObject'
        '400':
          $ref: '#/components/responses/BadRequestError'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - jwt:
            - support_user_management
            # verified scope
    post:
      tags:
        - Support Users
      summary: Create Support User
      description: Create a new Support User.
      operationId: createSupportUser
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: The identifier the user will use for logging in to the Dashboard or your own backoffice. 
                password:
                  type: string
                  description: The password the user will use for logging in to the Dashboard or your own backoffice. Expected in cleartext.
                scopes:
                  type: array
                  description: |
                    Set of permissions for your Support User. Learn more in the [Scope & Permissions](/guide/api-basics/authentication#scopes-permissions) article.
                  items:
                    type: string
                    enum: ["read_all","read_write","read_only","admin","support_user_management","legal"]
                samlKey:
                  type: string
                  description: | 
                    Optional key to link automatically a Support User to a [Dashboard](/guide/dashboard/introduction) OAuth2 client.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportUserObject'
        '400':
          $ref: '#/components/responses/BadRequestError'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - jwt:
            - support_user_management
            # verified scope
  /core-connect/support-user/{supportUserId}:
    get:
      tags:
        - Support Users
      summary: Get Support User
      description: Retrieve a Support User based on its `id`.
      operationId: findOneSupportUserById
      parameters:
        - name: supportUserId
          in: path
          description: The unique identifier of the Support User.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportUserObject'
        '400':
          $ref: '#/components/responses/BadRequestError'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - jwt:
            - support_user_management
            # verified scope
    put:
      tags:
        - Support Users
      summary: Update Support User
      description: Modify a Support User information.
      operationId: updateSupportUser
      parameters:
        - name: supportUserId
          in: path
          description: The unique identifier of the Support User.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: | 
                    The identifier the user will use for logging in to the Dashboard or your own backoffice. 
                    We strongly recommend not to change the username once set (you won't be able to do it from the Dashboard).
                password:
                  type: string
                  description: The password the user will use for logging in to the Dashboard or your own backoffice. Expected in cleartext.
                scope:
                  type: array
                  description: |
                    Set of permissions for your Support User. Learn more in the [Scope & Permissions](/guide/api-basics/authentication#scopes-permissions) article.
                  items:
                    type: string
                    enum: ["read_all","read_write","read_only","admin","support_user_management","legal"]
                samlKey:
                  type: string
                  description: | 
                    Optional key to link automatically a Support User to a [Dashboard](/guide/dashboard/introduction) OAuth2 client.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportUserObject'
        '400':
          $ref: '#/components/responses/BadRequestError'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - jwt:
            - support_user_management
            # verified scope
    delete:
      tags:
        - Support Users
      summary: Delete Support User
      description: Delete a Support User
      operationId: deleteSupportUser
      parameters:
        - name: supportUserId
          in: path
          description: The unique identifier of the Support User.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - jwt:
            - support_user_management
            # verified scope
  /core-connect/support-user/{supportUserId}/unblock:
    put:
      tags:
        - Support Users
      summary: Unblock Support User
      description: Unblock a Support User. Support Users may be blocked if they failed to login 3 times in a row.
      operationId: unblockSupportUser
      parameters:
        - name: supportUserId
          in: path
          description: The unique identifier of the Support User.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - jwt:
            - support_user_management
            # verified scope
  /core-connect/mid/metadata:
    get:
      tags:
        - Merchant ID Metadata
      summary: Get all MID metadata
      description: Retrieve all MID metadata.
      operationId: getAllMidMetadata
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequestError'
      security:
        - jwt:
            - admin
            # verified scope
    put:
      tags:
        - Merchant ID Metadata
      summary: Put Bulk metadata
      description: Create or update bulk metadata
      operationId: putMidMetadata
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  mid:
                    type: integer
                additionalProperties:
                  type: string
      responses:
        '204':
          description: The resource was updated successfully.
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - jwt:
            - admin
            # verified scope
  /core-connect/mid/{mid}/metadata:
    put:
      tags:
        - Merchant ID Metadata
      summary: Store MID Metadata
      description: Store metadata for a Merchant Id.
      operationId: postMidMetadata
      parameters:
        - name: mid
          in: path
          description: Mid
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  otp:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequestError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      security:
        - jwt:
            - admin
            # verified scope
    get:
      tags:
        - Merchant ID Metadata
      summary: Get MID Metadata
      description: Retrieve metadata for a Merchant Id.
      operationId: getMidMetadata
      parameters:
        - name: mid
          in: path
          description: Mid
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequestError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      security:
        - jwt:
            - admin
  /core-connect/payouts/{payoutId}/proof:
    get:
      tags:
        - Payouts
      summary: Create Payout Proof
      description: | 
        Generate and download a proof of payout in .PDF format. See [Proof of Payout](/guide/transfers/proof-of-payout.html) for more information.
      operationId: getProofPayout
      security:
        - jwt:
          - read_only
          - read_write
      parameters:
        - name: payoutId
          in: path
          description: The unique identifier of the Payout.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  link:
                    type: string
                    description: The download URL of the proof of payout.
                    example: "https://xxx.s3.eu-west-3.amazonaws.com/tmp/xxx.pdf"
                  expireIn:
                    type: integer
                    description: The time after which the download link expires (in seconds).
                    example: 300
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/DefaultError'
  /core-connect/card/bulk/{id}/report:
    get:
      tags:
        - Cards Bulk Creation
      summary: Get Report
      description: Get a link to download the bulk creation report.
      operationId: getCardBulkReport
      security:
        - jwt:
          - admin
          # verified scope
      parameters:
        - name: id
          in: path
          description: The unique identifier of the card bulk creation.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: The URL for downloading the report.
                  expireIn:
                    type: integer
                    description: The time after which the download link expires (in seconds).
                    default: 300
                    example: 300
        default:
          $ref: '#/components/responses/DefaultError'
  /core-connect/card/bulk:
    post:
      tags:
        - Cards Bulk Creation
      summary: Create Bulk Card Order
      description: | 
        Create a Bulk Card order to create multiple cards at once.

        This endpoint requires per-session [SCA](/guide/strong-customer-authentication/introduction.html).
      operationId: postBulkCard
      security:
        - jwt:
          - admin
          # verified scope
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                walletIdAttach:
                  type: integer
                  description: | 
                   The unique identifier of the Wallet the cards are going to be attached to. Required if `createWalletForEach` is set to `false`.
                createWalletForEach:
                  type: boolean
                  description: |
                    Whether to create one Wallet per card.
                walletTypeId:
                  type: integer
                  description: |
                    The type of Wallet the card are going to be attached to.
                  enum: [9,10,15]
                userIdOwner:
                  type: integer
                  description: |
                    The unique identifier of the user owning the cards. Required if `createUserForEach` is set to `false` or undefined.
                createUserForEach:
                  type: boolean
                  description: |
                    Whether to automatically create users for each created card.
                number:
                  type: integer
                  description: |
                    The number of cards to be created. There may be limitations to the maximum number of cards you can create at once.
                defaultMccRestrictionGroupId:
                  type: integer
                  description: |
                    The unique identifier of the MCC Restriction Group to associate with the cards.
                defaultMerchantRestrictionGroupId:
                  type: integer
                  description: |
                    The unique identifier of the MID Restriction Group to associate with the cards.
                defaultCountryRestrictionGroupId:
                  type: integer
                  description: |
                    The unique identifier of the Country Restriction Group to associate with the cards.
                defaultPermsGroup:
                  type: string
                  description: |
                    A code for a [preset of permissions](/guide/cards/restrictions-limits#options-permission-groups). It indicates whether the card main options (contactless, online payments, withdrawals, and international payments) are activated or not.
                  enum:
                    - TRZ-CU-001
                    - TRZ-CU-002
                    - TRZ-CU-003
                    - TRZ-CU-004
                    - TRZ-CU-005
                    - TRZ-CU-006
                    - TRZ-CU-007
                    - TRZ-CU-008
                    - TRZ-CU-009
                    - TRZ-CU-010
                    - TRZ-CU-011
                    - TRZ-CU-012
                    - TRZ-CU-013
                    - TRZ-CU-014
                    - TRZ-CU-015
                    - TRZ-CU-016	
                packageId:
                  type: string
                  description: Packaging reference for card shipping. Max. 8 characters.
                logoId:
                  type: string
                  description: |
                    The file name of the logo for the card. Learn more in the [Logo](/guide/cards/creation.html#logo-logoid) article.
                logoBackId:
                  type: string
                  description: |
                    The file name of the logo for the back of the card. Learn more in the [Back Logo](/guide/cards/creation.html#back-logo-logobackid) article.
                customizedInfo:
                  type: string
                  description: |
                    Customized text to be displayed on the card.

                    If populated, it must: 
                    * Be alphanumeric
                    * Contain at most 27 characters
                    * Not contain `!"#%'(),:;<>?@[]^` or the backtick symbol.
                freeCustomizedInfo:
                  type: string
                  description: |
                    More customized text to be displayed on the card.

                    If populated, it must: 
                    * Be alphanumeric
                    * Contain at most 50 characters
                    * Not contain `!"#%'(),:;<>?@[]^` or the backtick symbol.
                letterCustomizedInfo:
                  type: string
                  description: |
                    Customized text for the letter that is joined to the card.

                    If populated, it must:
                    * Be alphanumeric
                    * Contain at most 50 characters
                    * Not contain `!"#%'(),:;<>?@[]^` or the backtick symbol.
                anonymous:
                  type: integer
                  enum: [0,1]
                cardPrint:
                  type: string
                  description: |
                    The [Card Program](introduction.html#card-program) to associate to the Card and the options provided with it. This information is shared with you by Mywebsite.
                paymentDailyLimit:
                  type: integer
                  description: | 
                    POS operations limit for a single day including cents. The decimal delimiter must be ".". No default value.

                    For food vouchers use cases only.
                limitPaymentAll:
                  type: integer
                  description: POS operations limit from beginning. No default value.
                limitPaymentDay:
                  type: integer
                  description: POS operations limit for a single day. Default value €2000.
                limitPaymentWeek:
                  type: integer
                  description: POS operations limit for a sliding week. Default value €3000.
                limitPaymentMonth:
                  type: integer
                  description: POS operations limit for a sliding month. No default value.
                limitPaymentYear:
                  type: integer
                  description: POS operations limit for a sliding year. No default value.
                limitAtmAll:
                  type: integer
                  description: ATM operations limit from beginning. No default value.
                limitAtmDay:
                  type: integer
                  description: ATM operations limit for a single day. Default value €1000.
                limitAtmWeek:
                  type: integer
                  description: ATM operations limit for a sliding week. Default value €2000.
                limitAtmMonth:
                  type: integer
                  description: ATM operations limit for a sliding month. No default value.
                limitAtmYear:
                  type: integer
                  description: ATM operations limit for a sliding year. No default value.
                virtual:
                  type: boolean
                  description: |
                    Whether the cards are to be virtual or physical ones. 
                cardDeliveryAddress1:
                  type: string
                  description: |
                    See [address formats](/guide/api-basics/data-format.html#addresses) for limitations.
                cardDeliveryAddress2:
                  type: string
                  description: |
                    See [address formats](/guide/api-basics/data-format.html#addresses) for limitations.
                cardDeliveryAddress3:
                  type: string
                  description: |
                    See [address formats](/guide/api-basics/data-format.html#addresses) for limitations.
                cardDeliveryPostCode:
                  type: string
                  description: The postcode of the address.
                cardDeliveryCity:
                  type: string
                  description: The city of the address.
                cardDeliveryState:
                  type: string
                  description: The state of the address.
                cardDeliveryCountry:
                  type: string
                  description: The country of the address.
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: string
                  errors:
                    type: array
                    items:
                      type: string
                  status:
                    type: string
                  walletIdAttach:
                    type: integer
                    nullable: true
                  createWalletForEach:
                    type: boolean
                  walletTypeId:
                    type: integer
                    nullable: true
                  userIdOwner:
                    type: integer
                    nullable: true
                  createUserForEach:
                    type: boolean
                  number:
                    type: integer
                  defaultMccRestrictionGroupId:
                    type: integer
                    nullable: true
                  defaultMerchantRestrictionGroupId:
                    type: integer
                    nullable: true
                  defaultCountryRestrictionGroupId:
                    type: integer
                    nullable: true
                  defaultPermsGroup:
                    type: string
                  packageId:
                    type: string
                    nullable: true
                  logoId:
                    type: string
                    nullable: true
                  logoBackId:
                    type: string
                    nullable: true
                  anonymous:
                    type: integer
                  cardPrint:
                    type: integer
                  paymentDailyLimit:
                    type: integer
                    nullable: true
                  limitPaymentAll:
                    type: integer
                    nullable: true
                  limitPaymentDay:
                    type: integer
                    nullable: true
                  limitPaymentWeek:
                    type: integer
                    nullable: true
                  limitPaymentMonth:
                    type: integer
                    nullable: true
                  limitPaymentYear:
                    type: integer
                    nullable: true
                  limitAtmAll:
                    type: integer
                    nullable: true
                  limitAtmDay:
                    type: integer
                    nullable: true
                  limitAtmWeek:
                    type: integer
                    nullable: true
                  limitAtmMonth:
                    type: integer
                    nullable: true
                  limitAtmYear:
                    type: integer
                    nullable: true
                  virtual:
                    type: boolean
        default:
          $ref: '#/components/responses/DefaultError'
    get:
      tags:
        - Cards Bulk Creation
      summary: Get Bulk Card Order
      description: Search bulk card orders.
      operationId: getBulkCard
      security:
        - jwt:
          - admin
          # verified scope
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: string
                  errors:
                    type: array
                    items:
                      type: string
                  status:
                    type: string
                  walletIdAttach:
                    type: integer
                    nullable: true
                  createWalletForEach:
                    type: boolean
                  walletTypeId:
                    type: integer
                    nullable: true
                  userIdOwner:
                    type: integer
                    nullable: true
                  createUserForEach:
                    type: boolean
                  number:
                    type: integer
                  defaultMccRestrictionGroupId:
                    type: integer
                    nullable: true
                  defaultMerchantRestrictionGroupId:
                    type: integer
                    nullable: true
                  defaultCountryRestrictionGroupId:
                    type: integer
                    nullable: true
                  defaultPermsGroup:
                    type: string
                  packageId:
                    type: string
                    nullable: true
                  logoId:
                    type: string
                    nullable: true
                  logoBackId:
                    type: string
                    nullable: true
                  anonymous:
                    type: integer
                  cardPrint:
                    type: integer
                  paymentDailyLimit:
                    type: integer
                    nullable: true
                  limitPaymentAll:
                    type: integer
                    nullable: true
                  limitPaymentDay:
                    type: integer
                    nullable: true
                  limitPaymentWeek:
                    type: integer
                    nullable: true
                  limitPaymentMonth:
                    type: integer
                    nullable: true
                  limitPaymentYear:
                    type: integer
                    nullable: true
                  limitAtmAll:
                    type: integer
                    nullable: true
                  limitAtmDay:
                    type: integer
                    nullable: true
                  limitAtmWeek:
                    type: integer
                    nullable: true
                  limitAtmMonth:
                    type: integer
                    nullable: true
                  limitAtmYear:
                    type: integer
                    nullable: true
                  virtual:
                    type: boolean
        default:
          $ref: '#/components/responses/DefaultError'
  /core-connect/operations/{walletId}/report:
    get:
      tags:
        - Operations
      summary: Get Operations Report
      description: Retrieve an Operations Report based on the corresponding Wallet `id`.
      operationId: getOperationsReport
      security:
        - jwt:
          - read_only
          - read_write
      parameters:
        - in: path
          name: walletId
          required: true
          schema:
            type: integer
          description: The unique identifier of the Wallet.
        - in: query
          name: dateFrom
          required: true
          description: |
            The date and time from which the operations are taken into account for the report.
            The dates are to be html encoded (e.g., 2024-01-11T11:25:36+01:00 becomes `2024-01-11T11:25:36%2B01:00`)
          schema:
            type: string
            example: "2024-06-05T00:00:00%2B02:00"
        - in: query
          name: dateTo
          required: true
          description: | 
            The date and time up to which the operations are taken into account for the report.
            The dates are to be html encoded (e.g., 2024-01-11T11:25:36+01:00 becomes `2024-01-11T11:25:36%2B01:00`)
          schema:
            type: string
            example: "2024-07-05T00:00:00%2B02:00"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Status of the report.
                    enum:
                      - COMPLETED
                      - CREATED
                  url:
                    type: string
                    description: Download URL for the report once completed.
        default:
          $ref: '#/components/responses/DefaultError'
    post:
      tags:
        - Operations
      security:
        - jwt:
          - read_only
          - read_write
      summary: Create Operations Report
      description: Create a CSV export that includes all operations for a given Wallet on a given period.
      operationId: postOperationsReport
      parameters:
        - in: path
          name: walletId
          required: true
          schema:
            type: integer
          description: The unique identifier of the Wallet.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dateTo:
                  type: string
                  description: The date and time from which the operations are taken into account for the report.
                  example: "2024-06-05T00:00:00+02:00"
                dateFrom:
                  type: string
                  description: The date and time up to which the operations are taken into account for the report.
                  example: "2024-07-05T00:00:00+02:00"
      responses:
        '201':
          description: OK
        default:
          $ref: '#/components/responses/DefaultError'
  /core-connect/merchantIdRestrictionGroups/{groupId}/mid/metadata:
    get:
      tags:
        - Merchant ID Metadata
      summary: Get all MID with metadata
      description: Retrieve all Merchant Ids with metadata. 
      operationId: getAllMidMetadataBYyGroup
      parameters:
        - in: path
          name: groupId
          required: true
          schema:
            type: integer
          description: group Id
        - in: query
          name: cursor
          schema:
            type: string
          description: cursor
        - in: query
          name: pageSize
          schema:
            type: integer
          description: Number of results per page.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
        '400':
          $ref: '#/components/responses/BadRequestError'
      security:
        - jwt:
            - read_write
  /customization/templates:
    get: 
      tags:
        - API Templates
      summary: Get Available Templates
      description: Retrieve the list of templates.
      operationId: getTemplates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  templates:
                    type: array
                    items:
                      type: string
                    example:
                      - "wallet.address_details"
                      - "payout.proof_of_payout"
                      - "wallet.statement"
                      - "email.user.onboarding_confirmation_html"
                      - "email.user.onboarding_confirmation_text"
                      - "email.user.password_forgot_html"
                      - "email.user.password_forgot_text"
  /customization/templates/{templateName}:
    get:
      tags:
        - API Templates
      summary: Get Template Variables
      description: Retrieve the list of variables for the given template
      operationId: getTemplateVariables
      parameters:
      - name: templateName
        in: path
        description: The name of the Template.
        required: true
        schema:
          type: string
          enum:
            - wallet.address_details
            - payout.proof_of_payout
            - wallet.statement
            - email.user.onboarding_confirmation_html
            - email.user.onboarding_confirmation_text
            - email.user.password_forgot_html
            - email.user.password_forgot_text
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                oneOf:
                  - $ref: '#/components/schemas/WalletStatementTemplate'
                  - $ref: '#/components/schemas/WalletAddressDetailsTemplate'
                  - $ref: '#/components/schemas/PayoutProofOfPayoutTemplate'
                  - $ref: '#/components/schemas/EmailUserOnboardingConfirmationHtmlTemplate'
                  - $ref: '#/components/schemas/EmailUserOnboardingConfirmationTextTemplate'
                  - $ref: '#/components/schemas/EmailUserPasswordForgotHtmlTemplate'
                  - $ref: '#/components/schemas/EmailUserPasswordForgotTextTemplate'
      security:
        - jwt:
            - admin
    delete:
      tags:
        - API Templates
      summary: Delete Template
      description: Delete a Template.
      operationId: deleteTemplate
      parameters:
      - name: templateName
        in: path
        description: The name of the Template.
        required: true
        schema:
          type: string
          enum:
            - wallet.address_details
            - payout.proof_of_payout
            - wallet.statement
            - email.user.onboarding_confirmation_html
            - email.user.onboarding_confirmation_text
            - email.user.password_forgot_html
            - email.user.password_forgot_text
      responses:
        '200':
          description: OK
      security:
        - jwt:
            - admin
  /customization/templates/{templateName}/template:
    get:
      tags:
        - API Templates
      summary: Get Template
      description: Retrieve the currently configured template.
      operationId: getTemplate
      parameters:
      - name: templateName
        in: path
        description: The name of the Template.
        required: true
        schema:
          type: string
          enum:
            - wallet.address_details
            - payout.proof_of_payout
            - wallet.statement
            - email.user.onboarding_confirmation_html
            - email.user.onboarding_confirmation_text
            - email.user.password_forgot_html
            - email.user.password_forgot_text
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  template:
                    type: string
                    format: base64
      security:
        - jwt:
            - admin
    put:
      tags:
        - API Templates
      summary: Upload Template
      description: Upload a replacement for an existing Template.
      operationId: putTemplateUpload
      parameters:
      - name: templateName
        in: path
        description: The name of the Template.
        required: true
        schema:
          type: string
          enum:
            - wallet.address_details
            - payout.proof_of_payout
            - wallet.statement
            - email.user.onboarding_confirmation_html
            - email.user.onboarding_confirmation_text
            - email.user.password_forgot_html
            - email.user.password_forgot_text
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                template:
                  type: string
                  format: base64
      responses:
        '201':
          description: CREATED
        '400':
          $ref: '#/components/responses/BadRequestError'
      security:
        - jwt:
            - admin
  /customization/templates/{templateName}/example:
    get:
      tags:
        - API Templates
      summary: Build Template Example
      description: Test your template by building one with dummy values.
      operationId: getTemplateExample
      parameters:
      - name: templateName
        in: path
        description: The name of the Template.
        required: true
        schema:
          type: string
          enum:
            - wallet.address_details
            - payout.proof_of_payout
            - wallet.statement
            - email.user.onboarding_confirmation_html
            - email.user.onboarding_confirmation_text
            - email.user.password_forgot_html
            - email.user.password_forgot_text
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  template:
                    type: string
                    format: base64
      security:
        - jwt:
            - admin
  /core-connect/users/{userId}/kyc/document:
    get:
      tags:
        - User Document Pre-review
      summary: Search Pre-review Documents 
      description: Retrieve all pre-review documents for given user
      operationId: getKYCDocuments
      parameters:
        - name: userId
          in: path
          description: The unique identifier of the User.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    documentId:
                      type: string
                    documentType:
                      type: integer
                    status:
                      type: integer
                    userId:
                      type: integer
                    createdAt:
                      type: string
                      format: date
                    metadata:
                      type: array
                      items:
                        type: string
                    comment:
                      type: string
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - jwt:
            - read_write
    post:
      tags:
        - User Document Pre-review
      summary: Create Upload Document Form
      description: Generate a pre-signed form to upload documents for pre-review.
      operationId: getPreSignedKycForm
      parameters:
        - name: userId
          in: path
          description: The unique identifier of the User.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - documentType
                - metadata
              type: object
              properties:
                documentType:
                  type: integer
                  description: The type of KYC file.
                metadata:
                  type: array
                  items:
                    type: string
                  description: Metadata to add to the document.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    form:
                      type: array
                      items:
                        type: string
                    formFields:
                      type: array
                      items:
                        type: string
                    expireIn:
                      type: integer
                    documentId:
                      type: string
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - jwt:
            - read_write
  /core-connect/kyc/documents/{documentId}/status:
    put:
      tags:
        - User Document Pre-review
      summary: Pre-review Document
      description: Update the pre-review status and comment of the document.
      operationId: updateDocument
      parameters:
        - name: documentId
          in: path
          description: The unique identifier of the Document.
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              required:
                - status
                - comment
              type: object
              properties:
                status:
                  type: integer
                  description: The KYC Status of the Document.
                comment:
                  type: string
                  description: The comment of the Document.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  documentId:
                    type: string
                  documentType:
                    type: integer
                  status:
                    type: integer
                  userId:
                    type: integer
                  createdAt:
                    type: string
                    format: date
                  metadata:
                    type: array
                    items:
                      type: string
                  comment:
                    type: string
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - jwt:
            - admin
  /core-connect/kyc/documents/{documentId}:
    delete:
      tags:
        - User Document Pre-review
      summary: Delete Pre-review Document 
      description: Delete a pre-review document.
      operationId: deleteKYCDocumentcument
      parameters:
        - name: documentId
          in: path
          description: The unique identifier of the Document (UUID).
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                items:
                  type: object
                  properties:
                    documentId:
                      type: string
                    documentType:
                      type: integer
                    status:
                      type: integer
                    userId:
                      type: integer
                    createdAt:
                      type: string
                      format: date
                    metadata:
                      type: array
                      items:
                        type: string
                    comment:
                      type: string
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - jwt:
            - admin
  /core-connect/kyc/documents/need-review:
    get:
      tags:
        - User Document Pre-review
      summary: Search Documents to pre-review
      description: | 
        Retrieve all pre-review documents to review. This endpoint is for [Onboarded Users](/api-reference/api-endpoints.html#tag/User%20Onboarding) only.
      operationId: getKYCDocumentsToReview
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    documentId:
                      type: string
                    documentType:
                      type: integer
                    status:
                      type: integer
                    userId:
                      type: integer
                    createdAt:
                      type: string
                      format: date
                    metadata:
                      type: array
                      items:
                        type: string
                    comment:
                      type: string
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - jwt:
            - admin
  /core-connect/kyc/documents/{documentId}/preview:
    get:
      tags:
        - User Document Pre-review
      summary: Get Download URL
      description: Retrieve the pre-signed URL to download the pre-review document.
      operationId: getPresignedUrlDocument
      parameters:
        - name: documentId
          in: path
          description: The unique identifier of the Document (UUID).
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The URL and content type of the file.
          content:
            application/json:
              schema:
                properties:
                  url:
                    type: string
                  contentType:
                    type: string
                  duration:
                    type: integer
        '403':
          description: forbidden
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        code:
                          type: string
                        message:
                          type: string
                        docUrl:
                          type: string
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - jwt:
            - read_only
  # /core-connect/mass-payouts/import:
  #   post:
  #     tags:
  #       - Mass Payouts
  #     summary: Import SEPA.xml File
  #     description: Import a SEPA.xml file for mass payout
  #     operationId: postMassPayoutImport
  #     requestBody:
  #       content:
  #         multipart/form-data:
  #           schema:
  #             type: object
  #             properties:
  #               file:
  #                 type: string
  #                 format: binary
  #                 nullable: false
  #               reference:
  #                 type: string
  #                 nullable: false
  #     responses:
  #       '201':
  #         description: CREATED
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 importId:
  #                   type: string
  #                 status:
  #                   type: string
  #       '400':
  #         $ref: '#/components/responses/BadRequestError'
  #       default:
  #         $ref: '#/components/responses/DefaultError'
  #     security:
  #       - jwt:
  #           - read_write
  #           - read_only
  # /core-connect/mass-payouts/report/{reference}:
    # get:
    #   tags:
    #     - Mass Payouts
    #   summary: Get Mass Payout Report
    #   operationId: getMassPayoutReportRef
    #   description: |
    #     Check the progress of the process of creating the report file and allows you to retrieve it.
    #   parameters:
    #     - in: path
    #       name: reference
    #       schema:
    #         type: string
    #       required: true
    #       description: Unique reference of the `MassPayoutImport` object.
    #   responses:
    #     '200':
    #       description: OK
    #       content:
    #         application/json:
    #           schema:
    #             type: object
    #             properties:
    #               url:
    #                 type: string
    #                 nullable: false
    #               status:
    #                 type: string
    #                 nullable: false
    #               processed_creditors:
    #                 type: integer
    #                 nullable: false
    #               total_creditors:
    #                 type: integer
    #                 nullable: false
    #     default:
    #       $ref: '#/components/responses/DefaultError'
    #   security:
    #     - jwt:
    #         - read_write
    #         - read_only
  /core-connect/operations:
    get:
      tags:
        - Operations
      summary: Search Operations
      description: |
        Retrieve Operations that match your search conditions. The request must specify at least: `walletId`, `dateTo`, `dateFrom`.

        This endpoint requires per-session [SCA](/guide/strong-customer-authentication/introduction.html) for operations that are more than 90 days old.
      operationId: getOperations
      parameters:
        - name: cardId
          in: query
          required: true
          description: The unique identifier of the card.
          schema:
            type: integer
            format: int64
        - name: walletId
          in: query
          required: true
          description: The unique identifier of the Wallet.
          schema:
            type: integer
            format: int64
        - name: dateFrom
          in: query
          required: true
          description: |
            The start of the period to take into account operations.
            The dates are to be html encoded (e.g., 2024-01-11T11:25:36+01:00 becomes `2024-01-11T11:25:36%2B01:00`)
          schema:
            type: string
            format: date-time
        - name: dateTo
          in: query
          required: true
          description: | 
            The end of the period to take into account operations.
            The dates are to be html encoded (e.g., 2024-01-11T11:25:36+01:00 becomes `2024-01-11T11:25:36%2B01:00`)
          schema:
            type: string
            format: date-time
        - name: pageSize
          in: query
          description: Number of results per page
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 100
            default: 15
        - name: operationType
          in: query
          description: |
            The type of operation. Can't be cumulated with other query parameters. 

            By default, Mywebsite returns all operation types when this field isn't defined.
          schema:
            type: string
            enum:
              - bankDirectDebit
              - bankTransfer
              - cardTopup
              - cardTransaction
              - check
              - creditNote
              - fees
              - intBankTransfer
              - instantBankTransfer
              - other
              - payinRefund
              - payoutRefund
              - transferRefund
              - walletTransfer
        - name: cursor
          in: query
          description: |
            Pagination cursor, if you don't pass a cursor, result will start at the first page.
          schema:
            type: string
        -   name: initialFlow
            in: query
            description: Technical context about the initial operation. Can't be cumulated with other query parameters.
            schema:
              type: array
              nullable: true
              items:
                type: string
                enum:
                  - cardTransaction
                  - chargeback
                  - payin
                  - payinRefund
                  - payout
                  - payoutRefund
                  - transfer
        -   name: direction
            in: query
            description: Direction of the operation.
            schema:
              type: string
              nullable: true
              enum:
                - CREDIT
                - DEBIT
        -   name: amountFrom
            in: query
            description: The minimum amount of the operations to take into account.
            schema:
              type: integer
              nullable: true
        -   name: amountTo
            in: query
            description: The maximum amount of the operations to take into account.
            schema:
              type: string
        -   name: status
            in: query
            description: The status of the operation.
            schema:
              type: array
              items:
                type: string
                enum:
                  - 'AUTHORIZED'
                  - 'CANCELED'
                  - 'DECLINED'
                  - 'SETTLED'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        operationType:
                          type: string
                          enum:
                            - bankDirectDebit
                            - bankTransfer
                            - cardTopup
                            - cardTransaction
                            - check
                            - creditNote
                            - fees
                            - intBankTransfer
                            - instantBankTransfer
                            - other
                            - payinRefund
                            - payoutRefund
                            - transferRefund
                            - walletTransfer
                          description: |
                            Type of operation.
                          example: cardTransaction
                        amount:
                          type: object
                          properties:
                            amount:
                              type: integer
                              description: Amount in cent
                              example: 32420
                            currency:
                              type: string
                              description: Currency in ISO (EUR, GBP etc.)
                              example: EUR
                        status:
                          type: string
                          enum:
                            - AUTHORIZED
                            - CANCELED
                            - DECLINED
                            - SETTLED
                          description: operation status
                        walletId:
                          type: integer
                          format: int64
                          description: ID of the wallet impacted
                        direction:
                          type: string
                          enum:
                            - CREDIT
                            - DEBIT
                          description: Direction of operation credit or debit
                        objectId:
                          type: integer
                          format: int64
                          description: |
                            The unique identifier of the Mywebsite object that contains the initial operation
                        label:
                          type: string
                          nullable: true
                          description: The tag attached to the operation
                        metadata:
                          type: object
                          oneOf:
                            -   $ref: '#/components/schemas/CardPayment'
                            -   $ref: '#/components/schemas/Chargeback'
                            -   $ref: '#/components/schemas/Payin'
                            -   $ref: '#/components/schemas/PayinRefund'
                            -   $ref: '#/components/schemas/Payout'
                            -   $ref: '#/components/schemas/PayoutRefund'
                            -   $ref: '#/components/schemas/Transfer'
                        date:
                          type: object
                          properties:
                            creation:
                              type: string
                              format: date-time
                              description: |
                                Date of payin/payout/cardtransaction object
                                creation in Mywebsite System
                            settlement:
                              type: string
                              format: date-time
                              nullable: true
                              description: |
                                Date at which the operation is settled on the wallet
                        initialFlow:
                          description: Context about the technical conext of the initial operation.
                          type: string
                          enum:
                            - cardTransaction
                            - chargeback
                            - payin
                            - payinRefund
                            - payout
                            - payoutRefund
                            - transfer
                  cursor:
                    type: object
                    properties:
                      prev:
                        type: string
                        nullable: true
                        description: |
                          Cursor value for previous page. It is null when you are in first page
                      current:
                        type: string
                        description: Actual cursor value. It is your curent page
                      next:
                        type: string
                        description: |
                          Cursor value for next page. It is null when you are on last page
                        nullable: true
        '400':
          $ref: '#/components/responses/BadRequestError'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - jwt:
          - read_only
          - read_write
  /core-connect/sca/scawallets:
    get:
      tags:
        - SCA
      summary: Search SCA Wallets
      description: Retrieve the list of [SCA Wallets](/guide/strong-customer-authentication/introduction.html#sca-wallet-object) for a given user.
      operationId: getSCAWallets
      parameters:
        - in: query
          name: userId
          description: The unique identifier of the user.
          required: true
          schema:
            type: string
          example: "123456"
        - in: query
          name: cursor
          description: Pagination cursor, if you don't pass a cursor, result will start at the first page.
          schema:
            type: string
      responses:
        '200':
          description: The list of wallet was successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScaWalletObject'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    code:
                      type: string
                    message:
                      type: string
                    docUrl:
                      type: string
                    requestId:
                      type: string
      security:
        - jwt:
          - read_only
    post:
      tags:
        - SCA
      summary: Create SCA Wallet
      operationId: postScaWallet
      description: Create a new [SCA Wallet](/guide/strong-customer-authentication/introduction.html#sca-wallet-object) manually.
      requestBody:
        content:
          application/json:
            schema:
              required:
                - userId
              type: object
              properties:
                userId:
                  type: string
                  description: The unique identifier of the User.
                scaWalletTag:
                  type: string
                  nullable: true
                authMethod:
                  type: array
                  description: The chosen methods for the 2-factor authentication.
                  items:
                    type: string
                    enum:
                      - "ID"
                      - "OTHER"
                      - "OTP EMAIL"
                      - "OTP SMS"
      responses:
        '200':
          description: The wallet was successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScaWalletObject'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - jwt: []
  /core-connect/sca/scawallets/swap:
    post:
      tags:
        - SCA
      summary: Swap SCA Wallets
      description: Create an SCA Wallet while deleting the previous one as users should have only one device enrolled.
      operationId: swapSCAWallets
      requestBody:
        content:
          application/json:
            schema:
              required:
                - removeScaWalletId
                - swapReason
              type: object
              properties:
                removeScaWalletId:
                  type: string
                  description: The unique identifier of the SCA Wallet to be deleted.
                swapReason:
                  type: string
                  description: The reason for swapping SCA Wallet.
                  enum:
                    - LOST
                    - OTHER
                    - STOLEN
                authMethod:
                  type: array
                  description: | 
                    The chosen methods for the 2-factor authentication. Required if no `scaProof` is provided.
                  items:
                    type: string
                    enum:
                      - ID
                      - OTHER
                      - OTP SMS
                      - OTP EMAIL
                sca:
                  type: string
                  description: The valid proof that authenticated the swap. Required if no `authMethod` is provided.
                scaWalletTag:
                  type: string
                  description: |
                    Custom value for the SCA Wallet. Can be used to name the device for which the new SCA Wallet is created. Max length: 256 characters.
      responses:
        '200':
          description: The list of wallet was successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScaWalletObject'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    code:
                      type: string
                    message:
                      type: string
                    docUrl:
                      type: string
                    requestId:
                      type: string
      security:
        - jwt:
          - read_write
  /core-connect/sca/scawallets/{scaWalletId}:
    parameters:
      - in: path
        name: scaWalletId
        required: true
        description: The unique identifier of the SCA Wallet.
        schema:
          type: string
    delete:
      tags:
        - SCA
      summary: Delete SCA Wallet
      operationId: deleteScaWallet
      description: Permanently delete an SCA Wallet.
      responses:
        '200':
          description: The wallet was successfully deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScaWalletObject'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    code:
                      type: string
                    message:
                      type: string
                    docUrl:
                      type: string
                    requestId:
                      type: string
      security:
        - jwt: []
    get:
      tags:
        - SCA
      summary: Get SCA Wallet
      description: Retrieve an SCA Wallet by providing its `id`.
      operationId: getScaWallet
      responses:
        '200':
          description: The wallet was successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScaWalletObject'
        '404':
          description: The wallet was not found.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    code:
                      type: string
                    message:
                      type: string
                    docUrl:
                      type: string
                    requestId:
                      type: string
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    code:
[...]
